body {
    display: flex;
    justify-content: center;
}

.tictactoe-container {
    display: grid;
    grid-template-columns: repeat(3,1rem);
    grid-template-rows: repeat(3, 1rem);
    border: solid;
    align-items: center;
    justify-items: center;
}